/* for 1200px menas large devices */
@media screen and (max-width:1200px){
    h1{
        font-size:4.2rem;
    }
    p{
        font-size:1.5rem;
    }
    .header{
        display:none;
    }
    .discription-part{
        flex-direction:column-reverse;
    }
    .discription-part img{
        height:80vh;
    }
    .left-heading{
        width:100%;
        text-align: center;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about .left-section,.right-section{
        width:100%;
    }
    .about-btn{
        text-align: center;
        margin-block:20px;
    }
    .verity-section .section1{
        flex-direction: column-reverse;
        align-items: center;
    }
    .verity-section .section2{
        flex-direction: column;
        align-items: center;
    }
    .verity-section .verity-heading{
        text-align: center;
    }
    .verity-section{
        text-align: center;
    }
    .contect-section .contect-form {
        padding: 10px 25%;
    }
    .footer{
        flex-wrap:wrap;
    }
    .footer div {
        width: 35%;
    }
}



/* for 767px means mediam devices */
@media screen and (max-width:767px){
    h1{
        font-size:3.5rem;
    }
    .discription-part img{
        height:60vh;
    }
    .images img{
        width: 20vh;
    }
    .clients{
        flex-wrap: wrap;

    }
    .contect-section .contect-form {
        padding: 10px 15%;
    }
    .footer{
        flex-direction: column;
    }
    .footer div {
        width: 60%;
    }
}



/* for 547px means small devices */
@media screen and (max-width:547px){
    h1{
        font-size:2.7rem;
    }
    .container{
        padding-inline:5px;
    }
    .discription-part{
        padding:100px 60px;
    }
    .discription-part img{
        height:40vh;
    }
    .verity-section {
        padding: 10px;
    }
    .contect-section .contect-form {
        padding: 10px 5%;
    }
    .who-we-are {
        padding-inline:10px;
    }
}


/*for 400px means very small device */
@media screen and (max-width:400px){
    h1{
        font-size:2.3rem;
    }
    p{
        font-size:1rem;
    }
    .who-we-are {
        padding-inline:0px;
    }
    .left-section {
        width: 80%;
        padding: 30px 15px;
        background-color: #ca880e;
    
    }
    .images img{
        width: 10vh;
    }
}
